<head>
    <title>Color de Fondo de la página</title>
    <style type="text/css">
        body {
            background: black;
        }
    </style>
</head>
<font size=40 color="white"> Guaflix</font>
@{
    ViewBag.Title = "Catálogo";
}

<h2>Catálogo</h2>

<li>@Html.ActionLink("Ingreso Manual de Peliculas", "IngresoPeliculaManual", "Peliculas")</li>
<li>@Html.ActionLink("Carga de Peliculas", "CargaDePeliculas", "Peliculas")</li>
<li>@Html.ActionLink("Listado de peliculas", "ListadoPeliculas", "Peliculas")</li>
<li>@Html.ActionLink("Resgistrarse", "CrearUsuario", "Guaflix")</li>
<li>@Html.ActionLink("Cargar Usuarios", "CargarUsuarios", "Guaflix")</li>
<li>@Html.ActionLink("Listado de sus peliculas guardadas", "ListadoPorUsuario", "Peliculas")</li>

