@model IEnumerable<Guaflix.Models.Peliculas2>

@{
    ViewBag.Title = "ListadoPorUsuario";
}

<h2>ListadoPorUsuario</h2>

<p>
    @Html.ActionLink("Regresar a la vista principal", "Catálogo","Guaflix")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lanzamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lanzamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
          
        </td>
    </tr>
}

</table>
